@charset "UTF-8";

* {
    font-family: 'Courier New', Courier, monospace;
}

body {
    background-image: linear-gradient(to right, #AC0FF5, #C559F7);
}

main {
    background-color: white;
    box-shadow: 5px 5px 15px #710aa0ad;
    border-radius: 10px;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #520775;
    text-align: center;
    text-shadow: 1px 1px 1px 2px #35044bb7;
}

h2 {
    color: #880CC2;
}

p {
    text-align: justify;
}